/*Image Upload*/
.btn-file {
    position: relative;
    overflow: hidden;
    vertical-align: middle
}

.btn-file>input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 23px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    direction: ltr
}

.fileinput {
    display: inline-block;
    margin-bottom: 9px
}

.fileinput .form-control {
    display: inline-block;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: text
}

.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    max-width: 250px;
    box-shadow: 0 2px 2px hsla(38,16%,76%,.5)
}

.fileinput .thumbnail.img-circle {
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}

.fileinput .thumbnail>img {
    max-height: 100%
}

.fileinput .btn {
    vertical-align: middle
}

.fileinput-exists .fileinput-new,.fileinput-new .fileinput-exists {
    display: none
}

.fileinput-inline .fileinput-controls {
    display: inline
}

.fileinput-filename {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle
}

.form-control .fileinput-filename {
    vertical-align: bottom
}

.fileinput.input-group {
    display: table
}

.fileinput.input-group>* {
    position: relative;
    z-index: 2
}

.fileinput.input-group>.btn-file {
    z-index: 1
}

.fileinput-new.input-group .btn-file,.fileinput-new .input-group .btn-file {
    border-radius: 0 4px 4px 0
}

.fileinput-new.input-group .btn-file.btn-sm,.fileinput-new .input-group .btn-file.btn-sm,.fileinput-new.input-group .btn-file.btn-xs,.fileinput-new .input-group .btn-file.btn-xs {
    border-radius: 0 3px 3px 0
}

.fileinput-new.input-group .btn-file.btn-lg,.fileinput-new .input-group .btn-file.btn-lg {
    border-radius: 0 6px 6px 0
}

.form-group.has-warning .fileinput .fileinput-preview {
    color: #fbc658
}

.form-group.has-warning .fileinput .thumbnail {
    border-color: #fbc658
}

.form-group.has-error .fileinput .fileinput-preview {
    color: #ef8157
}

.form-group.has-error .fileinput .thumbnail {
    border-color: #ef8157
}

.form-group.has-success .fileinput .fileinput-preview {
    color: #6bd098
}

.form-group.has-success .fileinput .thumbnail {
    border-color: #6bd098
}

.input-group-addon:not(:first-child) {
    border-left: 0
}

.thumbnail {
    border: 0 none;
    border-radius: 3px;
    padding: 0
}


/*Radion / Checkbox*/
.form-check-radio,.from-check {
    margin-bottom: 12px;
    position: relative
}

.form-check {
    padding-left: 0;
    margin-bottom: .5rem
}

.form-check .form-check-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    line-height: 26px;
    margin-bottom: 0
}

.form-check .form-check-sign:after,.form-check .form-check-sign:before {
    content: " ";
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    cursor: pointer;
    border-radius: 6px;
    top: 0;
    background-color: #aaa7a4;
    transition: opacity .3s linear
}

.form-check .form-check-sign:after {
    font-family: FontAwesome;
    content: "\f00c";
    top: -1px;
    text-align: center;
    font-size: 15px;
    opacity: 0;
    color: #fff;
    border: 0;
    background-color: inherit
}

.form-check.disabled .form-check-label {
    color: #9a9a9a;
    opacity: .5;
    cursor: not-allowed
}

.form-check-radio input[type=radio],.form-check input[type=checkbox] {
    opacity: 0;
    position: absolute;
    visibility: hidden
}

.form-check input[type=checkbox]:checked+.form-check-sign:after {
    opacity: 1
}

.checkbox input[type=checkbox]:disabled+.form-check-sign:after,.form-control input[type=checkbox]:disabled+.form-check-sign:before {
    cursor: not-allowed
}

.form-check-radio input[type=radio]:disabled+.form-check-sign,.form-check .form-check-label input[type=checkbox]:disabled+.form-check-sign {
    pointer-events: none!important
}

.form-check-radio {
    margin-left: -3px
}

.form-check-radio .form-check-label {
    padding-left: 2rem
}

.form-check-radio.disabled .form-check-label {
    color: #9a9a9a;
    opacity: .5;
    cursor: not-allowed
}

.form-check-radio .form-check-sign:before {
    font-family: FontAwesome;
    content: "\f10c";
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    position: absolute;
    opacity: .5;
    left: 5px;
    top: -5px
}

.form-check-label input[type=checkbox]:checked+.form-check-sign:before {
    background-color: #66615b
}

.form-check-radio input[type=radio],.form-check-radio input[type=radio]+.form-check-sign:after {
    opacity: 0;
    transition: opacity .3s linear;
    content: " ";
    display: block
}

.form-check-radio input[type=radio]:checked+.form-check-sign:after {
    font-family: FontAwesome;
    content: "\f192";
    top: -5px;
    position: absolute;
    left: 5px;
    font-size: 22px;
    opacity: 1
}

.form-check-radio input[type=radio]:disabled+.form-check-sign:after,.form-check-radio input[type=radio]:disabled+.form-check-sign:before {
    color: #9a9a9a
}