.caret{
    top:22px !important;
}
.link{
    left: 10px !important;
}
.active span{
    color:#57cbef;
}

#sole-proprietorship,#partnership,#company,.cpa_myanmar,.self_study_container{
    display: none;
}
.custom-btn{
    margin: 0px 0px 0px 0px!important;
}
